---
---
{% assign pages = site.pages | where_exp: "page", "page.dir contains '/nl/'" | where_exp: "page", "page.name != 'index.md'" %}
{% assign criteriaPages = pages | where_exp: "page", "page.dir contains '/criteria/'" | where_exp: "page", "page.title" | sort: "order" %}
<!DOCTYPE html>
<!-- SPDX-License-Identifier: CC0-1.0 -->
<!-- SPDX-FileCopyrightText: Standard for Public Code Authors, https://www.standardforpubliccode.org/AUTHORS.html -->
<html lang="nl">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://www.standardforpubliccode.org/assets/github-markdown.css">
  <link rel="stylesheet" href="https://www.standardforpubliccode.org/assets/print.css">
  <title>{{ site.title }}</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap" rel="stylesheet">
  <style>
    /* Print specific */
    @media print {
      @page :left {
        @top-left {
          content: counter(page);
        }
      }
      @page :right {
        @top-right {
          content: counter(page);
        }
      }
    }
  </style>
</head>
<body class="markdown-body">

  <article id="section-first-page">
    <p>Nederlandse vertaling</p>
    <h1 class="title">Standaard voor Publieke Code</h1>
    <ul class="first-page-audiences">
      <lh>Over wat publieke code is en hoe je dit gebruikt als:</lh>
      <li id="first-page-public-policy-makers-what-you-need-to-do">Beleidsmaker in de publieke sector</li>
      <li id="first-page-managers-what-you-need-to-do">Manager</li>
      <li id="first-page-developers-and-designers-what-you-need-to-do">Ontwikkelaar of ontwerper</li>
    </ul>
    <img src="https://www.standardforpubliccode.org/assets/hands-shake.svg" alt="hands shaking">
    <p><strong>Voorlopige versie</strong><br/>Versie <span class="standard-version">0.8.0-nl-0.1.0</span></p>
    <p><img src="https://www.standardforpubliccode.org/assets/cc-zero-badge.svg" alt="Licensed CC0" height="46"> <img src="https://www.standardforpubliccode.org/assets/dpg-badge.svg" alt="Digital Public Goods approval badge" width="92" height="46"></p>
    <p>github.com/standard-for-public-code/community-translations-standard</p>
  </article>

  {% assign page = pages | where: "name", "AUTHORS.md" | first %}
  {% if page %}<article id="section-authors">{{page.content | markdownify}}</article>{% endif %}

  <article id="table-of-contents">
    <h1>Inhoudsopgave</h1>
    <ol>
      <li><a href="#section-authors" class="table-of-contents">Auteurs</a></li>
      <li><a href="#section-readers-guide" class="table-of-contents">Voorwoord bij de vertaling</a></li>
      <li><a href="#section-readers-guide" class="table-of-contents">Voorwoord</a></li>
      <li><a href="#section-readers-guide" class="table-of-contents">Leeswijzer</a></li>
      <li><a href="#section-glossary" class="table-of-contents">Begrippenlijst</a></li>
      <li><a href="#section-criteria" class="table-of-contents">Criteria</a>
        <ol>
        {% for page in criteriaPages %}
          <li><a href="#section-criteria-{{page.name}}" class="table-of-contents">{{page.title}}</a></li>
        {% endfor %}
        </ol>
      </li>
      <li><a href="#section-contributing" class="table-of-contents">Bijdragerichtlijnen</a></li>
      <li><a href="#section-code-of-conduct" class="table-of-contents">Gedragscode</a></li>
      <li><a href="#section-governance" class="table-of-contents">Governance</a></li>
      <!-- <li><a href="#section-changelog" class="table-of-contents">Versiegeschiedenis</a></li> -->
      <li><a href="#section-license" class="table-of-contents">Licentie</a></li>
    </ol>
  </article>

  <figure>
    <img src="https://www.standardforpubliccode.org/assets/codebase.svg" alt="codebase">
  </figure>

  {% assign page = pages | where: "name", "translation-foreword.md" | first %}
  {% if page %}<article id="section-translation-foreword">{{page.content | markdownify}}</article>{% endif %}

  {% assign page = pages | where: "name", "foreword.md" | first %}
  {% if page %}<article id="section-foreword">{{page.content | markdownify}}</article>{% endif %}

  {% assign page = pages | where: "name", "readers-guide.md" | first %}
  {% if page %}<article id="section-readers-guide">{{page.content | markdownify}}</article>{% endif %}

  {% assign page = pages | where: "name", "glossary.md" | first %}
  {% if page %}<article id="section-glossary">{{page.content | markdownify}}</article>{% endif %}

  <article id="section-criteria">
    <h1>Criteria</h1>
    <ol>
    {% for page in criteriaPages %}
      <li><a href="#section-criteria-{{page.name}}" class="table-of-contents">{{page.title}}</a></li>
    {% endfor %}
    </ol>
  </article>

  <figure>
    <img src="https://www.standardforpubliccode.org/assets/unlock.svg" alt="unlock">
  </figure>

  {% for page in criteriaPages %}
    <article id="section-criteria-{{page.name}}">
      {{page.content | replace: "../glossary.html#", "#" | markdownify}}
    </article>
  {% endfor %}

  {% assign page = pages | where: "name", "CONTRIBUTING.md" | first %}
  {% if page %}<article id="section-contributing">{{page.content | markdownify}}</article>{% endif %}

  <figure>
    <img src="https://www.standardforpubliccode.org/assets/collaborative-development.svg" alt="collaborative-development">
  </figure>

  {% assign page = pages | where: "name", "CODE_OF_CONDUCT.md" | first %}
  {% if page %}<article id="section-code-of-conduct">{{page.content | markdownify}}</article>{% endif %}

  <figure>
    <img src="https://www.standardforpubliccode.org/assets/collaboration.svg" alt="collaboration">
  </figure>

  {% assign page = pages | where: "name", "GOVERNANCE.md" | first %}
  {% if page %}<article id="section-governance">{{page.content | markdownify}}</article>{% endif %}

  <figure>
    <img src="https://www.standardforpubliccode.org/assets/eco-system.svg" alt="ecosystem">
  </figure>

  {% comment %}
  {% assign page = pages | where: "name", "CHANGELOG.md" | first %}
  {% if page %}<article id="section-changelog">{{page.content | markdownify}}</article>{% endif %}
  {% endcomment %}

  <article id="section-license">
    <p>Deze licentie vormt de juridische toestemming waardoor iedereen mag doen wat die wil met de inhoud van dit hele document.</p>
    <h1>CC0 1.0 Universal</h1>
    <pre>{% include_relative LICENSE %}</pre>
  </article>

</body>
</html>